extends template.jade

block content
	.counter-nav.counter-nav--top
		.counter
			a(href="#").counter__item.counter--active 5 на стр.
			a(href="#").counter__item 10 на стр.
			a(href="#").counter__item 15 на стр.
		.nav-info
			a(href="").nav-info--prev Пред.
			span /
			a(href="").nav-info--next След.
	.info
		+projects('Комплекс работ по дноуглублению причального фронта и акватории военного городка № 25', 'Балтийск, Калининградская область', 'Наша компания была выбрана исполнителем комплекса дноуглубительных работ для военного порта в Балтийском море. Общий объем работ составил более 1 миллиона кубических метров грунта, при этом использовались различные виды техники для выполнения работ вдоль причальной стенки и выгрузки грунта на берег. Дополнительную сложность производству работ придавали стесненные условия, как ввиду особенностей самой акватории, так и по причине того, что военный порт не переставал действовать в период реализации проекта - равно как и судоходный канал, режим работы которого не позволял выстроить регулярный график движения задействованных судов.')
		// /.info__item
		+projects('Комплекс работ по дноуглублению причального фронта и акватории военного городка № 25', 'Балтийск, Калининградская область', 'Наша компания была выбрана исполнителем комплекса дноуглубительных работ для военного порта в Балтийском море. Общий объем работ составил более 1 миллиона кубических метров грунта, при этом использовались различные виды техники для выполнения работ вдоль причальной стенки и выгрузки грунта на берег. Дополнительную сложность производству работ придавали стесненные условия, как ввиду особенностей самой акватории, так и по причине того, что военный порт не переставал действовать в период реализации проекта - равно как и судоходный канал, режим работы которого не позволял выстроить регулярный график движения задействованных судов.')
		// /.info__item
		+projects('Комплекс работ по дноуглублению причального фронта и акватории военного городка № 25', 'Балтийск, Калининградская область', 'Наша компания была выбрана исполнителем комплекса дноуглубительных работ для военного порта в Балтийском море. Общий объем работ составил более 1 миллиона кубических метров грунта, при этом использовались различные виды техники для выполнения работ вдоль причальной стенки и выгрузки грунта на берег. Дополнительную сложность производству работ придавали стесненные условия, как ввиду особенностей самой акватории, так и по причине того, что военный порт не переставал действовать в период реализации проекта - равно как и судоходный канал, режим работы которого не позволял выстроить регулярный график движения задействованных судов.')
		// /.info__item
		+projects('Комплекс работ по дноуглублению причального фронта и акватории военного городка № 25', 'Балтийск, Калининградская область', 'Наша компания была выбрана исполнителем комплекса дноуглубительных работ для военного порта в Балтийском море. Общий объем работ составил более 1 миллиона кубических метров грунта, при этом использовались различные виды техники для выполнения работ вдоль причальной стенки и выгрузки грунта на берег. Дополнительную сложность производству работ придавали стесненные условия, как ввиду особенностей самой акватории, так и по причине того, что военный порт не переставал действовать в период реализации проекта - равно как и судоходный канал, режим работы которого не позволял выстроить регулярный график движения задействованных судов.')
		// /.info__item
	// /.info
	.counter-nav.counter-nav--bottom
		.counter
			a(href="#").counter__item.counter--active 5 на стр.
			a(href="#").counter__item 10 на стр.
			a(href="#").counter__item 15 на стр.
		.nav-info
			a(href="").nav-info--prev Пред.
			span /
			a(href="").nav-info--next След.
